@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.cl-avatarBox {
  width: 2.55rem;
  height: 2.55rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Form container background */
.cl-card {
  background-color: rgb(182, 183, 245) !important;
}
/* .cl-userPreview, */
.cl-userPreview__userButton,
cl-userButtonPopoverActionButton,
.cl-button,
cl-userButtonPopoverActionButton__manageAccount,
.cl-button__manageAccount {
  background-color: rgb(112, 115, 255) !important;
}
.cl-userButtonPopoverActionButton,
.cl-button,
.cl-userButtonPopoverActionButton__manageAccount,
.cl-button__manageAccount,
/* .cl-userPreviewMainIdentifierText, */
.cl-userPreviewMainIdentifierText__userButton {
  color: white;
}
.cl-userPreviewSecondaryIdentifier, .cl-userPreviewSecondaryIdentifier__userButton{
  color: rgba(255, 255, 255, 0.76);
}

/* Sign in/Sign up link container background */
.cl-footer, 
.cl-footerAction {
  background-color: rgb(182, 183, 245) !important;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* Sign in/Sign up links color */
.cl-footerActionText,
.cl-footerActionLink {
  text-align: center;
  align-items: center;
}
@keyframes slideDown {
  0% { transform: translateY(-100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out forwards;
}
